* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;4
	-webkit-tap-highlight-color: transparent;
}
.hotJobTop {
	width: 7.5rem;
	margin: auto;
	background: #fff;
	overflow: hidden;
	position: relative;
}
.hotJobTop>#tab_nav {
	width: 7.5rem;
	margin: auto;
	height: 0.6rem;
	margin-left: 0.2rem;
	overflow: hidden;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.hotJobTop>#tab_nav>li {
	width: 1.26rem;
	height: 0.50rem;
	border-radius: 0.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin-right: 0.4rem; */
}

.hotJobTop>#tab_nav>li.on {
	background: rgba(2, 97, 177, 0.1);
	border-radius: 0.25rem;
}

.hotJobTop>#tab_nav>li.on>a {
	color: rgba(2, 97, 177, 1);
}


.hotJobTop>#tab_nav>li:nth-child(2) {
	width: 1.5rem;
}

.hotJobTop>#tab_nav>li>a {
	display: block;
	width: auto;
	height: 100%;
	font-size: 0.28rem;
	color: #666;
	line-height: 0.5rem;
}
#myChart {
	padding-top: 0.5rem;
	width: 7.5rem;
	margin: auto;
	height: 4.2rem;
}
#jobBox {
	width: 7.5rem;
	height: auto;
	margin: auto;
	padding: 0 0.2rem 0.6rem;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 0.5rem;
}

#jobBox>li {
	width: 1.86rem;
	height: 0.52rem;
	border-radius: 0.26rem;
	margin-bottom: 0.2rem;
	overflow: hidden;
}

#jobBox>li.on>a {
	color: #fff;
	background: #0261B1;
}

#jobBox>li>a {
	display: block;
	width: 100%;
	height: 100%;
	background: #E7EEF4;
	color: #333;
	font-size: 0.2rem;
	line-height: 0.52rem;
	text-align: center;
}

span.shadowLine {
	background: #fff;
}