.header {
	width: 7.5rem;
	height: 1rem;
	margin: auto;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 33;
	display: flex;
	justify-content: center;
}
.group {
	width: 6.7rem;
	height: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.group a {
	width: 0.6rem;
	height: 0.6rem;
	display: flex;
}
.header .input {
	width: 5.9rem;
	height: 0.62rem;
	display: flex;
	align-items: center;
	background: rgba(237,237,237,1);
	border-radius: 0.31rem;
	font-weight: 400;
	color: rgba(153,153,153,1);
}
.header .searching {
	width: 100%;
	height: 100%;
	background: rgba(237,237,237,1);
	padding: 0 0.3rem;
	border-radius: 0.31rem;
	outline: none;
	font-size: 0.24rem;
}
.header .searchImg {
	padding-right: 0.3rem;
}
.header .searchImg img {
	display: block;
	width: 0.3rem;
	height: 0.3rem;
}
.content {
	width: 100%;
	padding: 0.2rem 0.4rem 0.4rem;
	max-width: 7.5rem;
	margin: 0 auto;
}
.banner {
	width: 6.7rem;
	height: 3.2rem;
	margin-top: 0.8rem;
	position: relative;
}
/* 搜索框的下拉列表 */
.seachHistoryList {
	width: 7.5rem;
	max-height: 4.7rem;
	background: #fff;
	position: fixed;
	top: 1rem;
	box-shadow: 0rem 0.03rem 0.1rem rgba(0,0,0,0.1);
	z-index: 22;
	display: flex;
	flex-flow: column;
	overflow-y: auto;
}
.seachHistoryList li {
	width: 100%;
	min-height: 0.97rem;
	padding: 0 0.31rem 0 0.43rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.3rem;
	color: rgba(102,102,102,1);
	font-weight: 400;
}
.seachHistoryList li .textGroup {
	display: flex;
	align-items: center;
	flex: 1;	
}
.seachHistoryList li div img {
	width: 0.26rem;
	height: 0.26rem;
}
.seachHistoryList li .textGroup .text {
	padding-left: 0.28rem;
}
.seachHistoryList li img {
	width: 0.32rem;
	height: 0.32rem;
}